.blog-item {
  margin: 1rem;
  width: 40%;
  background: #8b005d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
}

.blog-item h1 {
  border-bottom: 1px solid white;
}

.middle-content {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -21px;
}
